In [1]:
import pandas as pd
from sklearn import tree

In [2]:
df = pd.read_csv('male female.csv')

In [3]:
df.head()

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male

In [4]:
x = df.iloc[:,:-1]

In [5]:
x.head()

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40

In [6]:
y=df.iloc[:,3]

In [7]:
y.head()

0      male
1    female
2    female
3    female
4      male
Name: gender, dtype: object

In [8]:
classify_ = tree.DecisionTreeClassifier()

In [9]:
classify_ = classify_.fit(x,y)

In [10]:
prediction_ = classify_.predict([[190,70,43]])

/home/user/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [11]:
prediction_

array(['female'], dtype=object)

In [12]:
prediction_ = classify_.predict([[200,79,44]])

/home/user/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [13]:
prediction_

array(['male'], dtype=object)